<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IC470 Proj2</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h1>Project 2</h1>

        <h2>Capstone Submission</h2>
        <form method="post" action="../submit.php">
            <label for="username">Capstone Name</label>
            <input type="text" id="username" name="username" required>
    
            <label for="projectdes">Project Description</label>
            <input type="text" id="projectdes" name="projectdes" required>

            <label for="qualifications">Qualifications/Requirements</label>
            <input type="text" id="qualifications" name="qualifications" required>

            <label for="goals"> Overall Goal of Capstone </label>
            <input type="text" id="goal" name="goal" required> 
            
            <!-- <label for="password">Password:</label>
            <input type="password" id="password" name="password" required> -->
    
            <button type="submit" value="Submit Request"> Post </button>
        </form>
        <!-- <script src="js/scripts.js"></script> -->
        <a href="login" > Link to login.</a>
        <a href="signup" > Link to signup.</a>
</body>